html {
  scroll-behavior: smooth;
}

body,
header,
nav,
main,
footer {
  padding: 0;
  margin: 0;
}

section {
  height: 100vh;
  margin: 0;
}
.nav-item {
  margin-left: 20%;
}
.text-center {
  text-align: center;
}

.contact-dets-holder {
  display: inline-flex;
}

.intro-text,
.contact-text {
  font-size: 25px;
  margin-left: 20%;
  margin-bottom: 0;
}
